# Celery 및 분산처리 관련
celery==5.2.7
billiard==3.6.4.0
kombu==5.2.4
redis==4.5.5

# 기존 패키지(예시)
fastapi
uvicorn
jinja2
sqlalchemy>=2.0
psycopg2-binary
pgvector
opencv-python
insightface
numpy==1.26.4
torch
torchvision
matplotlib
pillow
pywavelets
python-multipart
mlflow
optuna
scikit-learn
pandas
pyarrow
faiss-cpu